DEYE_LOGGER_IP_ADDRESS=192.168.x.x
DEYE_LOGGER_PORT=8899
DEYE_LOGGER_SERIAL_NUMBER=1234567890
DEYE_LOGGER_SIMULATE=false

MQTT_HOST=xyz.azure-devices.net
MQTT_PORT=8883
MQTT_USERNAME=xyz.azure-devices.net/deyesun600/?api-version=2021-04-12
MQTT_PASSWORD="SharedAccessSignature sr=12344"
MQTT_TOPIC_PREFIX=devices
MQTT_TOPIC_SUFFIX="messages/events/$.ct=application%2Fjson&$.ce=utf-8"
MQTT_DEVICE_ID=deyesun600
MQTT_CERTIFICATE_PATH=/path/to/ca.cert

LOG_LEVEL=DEBUG
DEYE_DATA_READ_INTERVAL=60
DEYE_METRIC_GROUPS=watts